<div class="container-fluid">
  <table class="table table-striped table-hover table-sm table-responsive">
    <thead class="thead-dark">
      <%= render "#{resource_name}s/headers" %>
    </thead>

    <tbody>
    <%- if resources.any? %>
      <% resources.each do |resource| %>
        <%= render "#{resource_name}s/row", resource: resource %>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <%- if resources.none? %>
    <b>No data to display.</b>
  <%end%>
</div>