<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>
<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>
<p>
  <strong>Date:</strong>
  <%= @transaction.date.strftime("%x") %>
</p>